@import "./utils/mixins";


html, body {
    margin: 0;
    padding: 0;
 }

body{
  
    width: 100%;
}

section{
    background-color: rgb(253,253,253);
    box-shadow: 2px 2px 3px 4px #ccc ;
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 3%;
    margin-bottom: 3%;
    font-family: 'Merienda', cursive;    

}

.plats{
   @include plats;
    
}

.esquisse{
    @include blocks4;
     
}
.oeuvre{
    @include blocks4;
    
}
.sommet{
    @include blocks4;
   
}
header{
    width: 100%;
    background-color: rgb(71,140,115);
    border: 1px solid rgb(71,140,115);
    height: 70px;
    text-align: center;
}
h1 {
    @include h1;
}
section h2{
    font-size: 30px;
    margin-top: 5%;
    color: black;
    text-align: center;
    font-family: 'Merienda', cursive;
    font-style: italic;
    font-weight: normal;
    background: linear-gradient(to right, #1a820a 0%,#8bc958 100%);
    -webkit-text-fill-color:transparent;
    -webkit-background-clip:text;
}
section h3{
    display: flex;
    justify-content: center;
    color: black;
    text-align: center;
    font-family: 'Merienda', cursive;
    font-style: italic;
    font-weight: normal;
    background: linear-gradient(to right, #1a820a 0%,#8bc958 100%);
    -webkit-text-fill-color:transparent;
    -webkit-background-clip:text;

}
   
footer{
    @include footer;

}
footer p{
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-family: 'Lato', sans-serif;
}

footer a{
    display:inline-block;
    text-decoration: none;
    color:  rgb(235,199,76);
    &:hover{
    -webkit-animation-name: shake;
    -webkit-animation-duration: 0.8s;
    -webkit-animation-iteration-count: infinite;
    }
}
.underline{
    background: linear-gradient(to top, green , green 1px, transparent 3px) no-repeat;
    background-size: 0 100%;
    transition: background-size .3s
  
}
  
.underline:hover{
    background-size: 100% 100%;
}

@-webkit-keyframes shake{
    0%{-webkit-transform: translate(2px,2px);}
    10%{-webkit-transform: translate(-2px,-2px);}
    20%{-webkit-transform: translate(2px,2px);}
    30%{-webkit-transform: translate(-2px,-2px);}
    40%{-webkit-transform: translate(2px,2px);}
    50%{-webkit-transform: translate(-2px,-2px);}
    60%{-webkit-transform: translate(2px,2px);}
    70%{-webkit-transform: translate(-2px,-2px);}
    80%{-webkit-transform: translate(2px,2px);}
    90%{-webkit-transform: translate(-2px,-2px);}
    100%{-webkit-transform: translate(2px,2px);}
}
ul{
    @include ul;       
}

.nomplat{
    width: 90%;
    font-weight: normal;
}
.prix{
    width: 10%;
    margin-left: 40%;
}

img{
    width: 300px;
    font-weight: bold;
    
}

@media all and (max-width: 1024px)
{
    body{
        width: 100%;
   
    }

    footer{
        width: 100%;
        position: fixed;
        bottom: 0;
    
    }
    footer p{
        display: flex;
        justify-content: center;
         
    }
   
    section{
        display: block;
        width: 70%;
        margin-left: 15%;
        margin-right: 15%;
        margin-top: 3%;
        margin-bottom: 19%;
       
    }
    .plats{
        width: 98%;
        margin-left: 2%;
        margin-right: 2%;
    }
     h3 img{
        width: 200px;
        
    }
    .titre{
        display: block;
        flex-direction: column;
        justify-content: center;
    }
    .nomplat{
        text-align: center;
    }
     .prix{
        text-align: center;
      
         
     }
       ul{
           display: flex;
           flex-direction: column;
           
       }
    }