html, body {
  margin: 0;
  padding: 0;
}

header {
  width: 100%;
  position: fixed;
  top: 0;
}

body {
  width: 100%;
}

footer {
  width: 100%;
  position: fixed;
  bottom: 0;
}

section {
  background-color: #fdfdfd;
  box-shadow: 2px 2px 3px 4px #ccc;
  width: 70%;
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 10%;
  margin-bottom: 5%;
  font-family: "Merienda", cursive;
}

.plats {
  width: 100%;
}

.esquisse {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  justify-content: space-between;
  font-family: "Merienda", cursive;
}

.oeuvre {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  justify-content: space-between;
  font-family: "Merienda", cursive;
}

.sommet {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  justify-content: space-between;
  font-family: "Merienda", cursive;
}

header {
  width: 100%;
  background-color: #478c73;
  border: 1px solid #478c73;
  height: 70px;
  text-align: center;
}

h1 {
  background-color: #478c73;
  border: 1px solid #478c73;
  text-align: center;
  justify-content: center;
  font-size: 55px;
  color: #ffcc45;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}

section h2 {
  font-size: 35px;
  margin-top: 5%;
  color: black;
  text-align: center;
  font-family: "Merienda", cursive;
  font-style: italic;
  font-weight: normal;
  background: linear-gradient(to right, #1a820a 0%, #8bc958 100%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

section .underline {
  display: flex;
  justify-content: center;
  color: black;
  text-align: center;
  font-family: "Merienda", cursive;
  font-size: 20px;
  font-style: italic;
  font-weight: bold;
}

.underline {
  background: linear-gradient(to top, green, green 1px, transparent 3px) no-repeat;
  background-size: 0 100%;
  transition: background-size 0.3s;
}

.underline:hover {
  background-size: 100% 100%;
}

footer {
  display: flex;
  width: 100%;
  align-items: center;
  background-color: #478c73;
  border: 1px solid #478c73;
  height: 40px;
  margin-top: 2%;
  justify-content: space-between;
  color: #ebc74c;
}

footer p {
  display: flex;
  justify-content: center;
  font-weight: bold;
  font-family: "Lato", sans-serif;
}

footer a {
  display: inline-block;
  text-decoration: none;
  color: #ebc74c;
}
footer a:hover {
  -webkit-animation-name: shake;
  -webkit-animation-duration: 0.8s;
  -webkit-animation-iteration-count: infinite;
}

@-webkit-keyframes shake {
  0% {
    -webkit-transform: translate(2px, 2px);
  }
  10% {
    -webkit-transform: translate(-2px, -2px);
  }
  20% {
    -webkit-transform: translate(2px, 2px);
  }
  30% {
    -webkit-transform: translate(-2px, -2px);
  }
  40% {
    -webkit-transform: translate(2px, 2px);
  }
  50% {
    -webkit-transform: translate(-2px, -2px);
  }
  60% {
    -webkit-transform: translate(2px, 2px);
  }
  70% {
    -webkit-transform: translate(-2px, -2px);
  }
  80% {
    -webkit-transform: translate(2px, 2px);
  }
  90% {
    -webkit-transform: translate(-2px, -2px);
  }
  100% {
    -webkit-transform: translate(2px, 2px);
  }
}
ul {
  display: flex;
  list-style: none;
}

.nomplat {
  width: 90%;
  font-weight: normal;
}

.prix {
  width: 10%;
  margin-left: 40%;
  font-weight: bold;
}

.titre {
  display: flex;
  justify-content: center;
  font-size: 20px;
  font-weight: bold;
}

img {
  width: 400px;
}

@media all and (max-width: 1024px) {
  body {
    width: 100%;
  }

  footer {
    width: 100%;
    position: fixed;
    bottom: 0;
  }

  footer p {
    display: flex;
    justify-content: center;
  }

  section {
    display: block;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 30%;
    margin-bottom: 19%;
  }

  .plats {
    line-height: 25px;
  }

  h3 {
    font-size: 15px;
  }

  h3 img {
    width: 100px;
  }

  .titre {
    display: flex;
    justify-content: space-between;
    font-size: 18px;
  }

  .nomplat {
    text-align: center;
    margin-left: 0;
  }

  .prix {
    text-align: center;
  }

  ul {
    display: flex;
    flex-direction: column;
  }

  section h2 {
    font-size: 30px;
  }

  .esquisse {
    width: 100%;
    margin-left: 2px;
    margin-right: 0;
  }

  .oeuvre {
    width: 100%;
    margin-left: 2px;
    margin-right: 0;
  }

  .sommet {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
}

/*# sourceMappingURL=menu4.css.map */
